<?xml version="1.0" encoding="utf-8"?>
<!--
  EXAMPLE CONFIGURATION FILE
  
  To use this file:
  1. Copy this file as Web.config
  2. Update the connection string for your database
  3. Update SMTP settings
  4. DO NOT commit Web.config to GIT
  
  For production environment, use environment variables:
  - OPENTICKET_CONNECTION_STRING
  - OPENTICKET_SMTPHOST
  - OPENTICKET_SMTPUSERNAME
  - OPENTICKET_SMTPPASSWORD
-->
<configuration>
  <connectionStrings>
    <add name="OpenTicketDb" 
         connectionString="Data Source=YOUR_SERVER;Initial Catalog=ticket;User ID=YOUR_USER;Password=YOUR_PASSWORD;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="your-email@gmail.com" />
    <add key="SmtpPassword" value="YOUR_APP_PASSWORD" />
    <add key="SmtpSenderEmail" value="your-email@gmail.com" />
    <add key="SmtpSenderName" value="OpenTicket" />
    <add key="SmtpEnableSsl" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>

